@import url(https://db.onlinewebfonts.com/c/84cb021d5f9af287ffff84b61beef6dc?family=clockicons);

body {
  padding: 0;
  margin: 0;
  font-family: verdana;
  background-color: black;
}

.custom-toggler.navbar-toggler {
  border-color: transparent;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


#container-main {
  min-height: 80vh;
}

#container-main h1 {
  color: yellow;
  text-align: center;
  font-weight: bold;
  text-shadow: 0px 0px 15px rgb(255, 0, 0);
  font-size: 50px;
}

.stopwatch-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#sw-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  align-items: center;
  position: fixed;
}

.digit {
  font-size: 95px;
  color: #FF9500;
  font-family: clockicons, sans-serif;
}

.txt {
  font-size: 30px;
  color: #fffcd6;
}


/*Buttons*/
#buttons {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.btn {
  width: 70px;
  padding: 8px 12px;
  border-radius: 4px 15px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.5s;
  color: white;
  font-weight: 600;
}

#start {
  background-color: #009779;
}

#stop {
  background-color: #0e85fc;
}

#reset {
  background-color: #c91400;
}

#lap {
  background-color: green;
}

/*LAPS FRAME*/
#laps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: calc(100vw / 3);
  margin-top: 2rem;
  min-width: 50vw;
  min-height: 60vh;
}

#laps h2 {
  color: white;
}

#laps ul li {
  color: yellow;
  list-style-type: number;
}

/*About Page*/
.about {
  max-width: '800px';
  margin: '20px auto';
  padding: '0 20px';
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.about h1,
.about h3 {
  font-weight: 800;
  padding-bottom: 20px;
  line-height: 45px;
  color: white;
}

.about p,
.about h3,
.about ul li {
  color: white;

}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/*Error Message*/
.error {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  min-height: 73vh;
  max-width: 50%;
}

.error h4 {
  color: rgba(255, 255, 255, 0.651);
}

.error p {
  color: rgba(255, 255, 255, 0.479);
}

footer {
  background-color: #22092C;
  color: #ffffff9f;
  padding: 15px 0px;
  text-align: center;
  position: relative;
  min-height: 15vh;
}

footer p {
  font-size: 16px;
}


@media screen and (max-width:1200px) {
  #laps {
    margin-left: calc(100vw/2.45);
  }
}

@media screen and (max-width:1080px) {
  #container-main h1 {
    font-size: 45px;
  }

  .stopwatch-container {
    grid-template-columns: 1fr;
    max-width: 100vw;
    align-items: center;
    justify-content: center;
  }

  #sw-container {
    max-width: 100vw;
    position: relative;
  }

  .digit {
    font-size: 85px;
  }

  .txt {
    font-size: 30px;
  }

  /*Buttons*/
  #buttons {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .btn {
    width: 70px;
    padding: 8px 12px;
    font-size: 15px;
  }

  /*LAPS FRAME*/
  #laps {
    margin: 20px auto;
    max-width: 100vw;
    min-height: 20vh;
  }

  /*About Page*/
  .about {
    max-width: '800px';
    margin: '20px auto';
    padding: '0 20px';
  }

  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .img-container img {
    max-width: 50vw;
  }

  .about h1 {
    font-size: 35px;
  }

  .about h3 {
    font-size: 25px;
  }

  .about p,
  .about ul li {
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
  }

  .about ul li {
    line-height: 25px;
  }

  /*Error*/
  .error {
    max-width: 70vw;
  }

  footer p {
    font-size: 15px;
  }

}



@media screen and (max-width:768px) {
  #container-main h1 {
    font-size: 40px;
  }

  .stopwatch-container {
    grid-template-columns: 1fr;
    max-width: 100vw;
    align-items: center;
    justify-content: center;
  }

  #sw-container {
    max-width: 100vw;
    position: relative;
  }

  .digit {
    font-size: 75px;
  }

  .txt {
    font-size: 25px;
  }

  /*Buttons*/
  #buttons {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .btn {
    width: 60px;
    padding: 5px 8px;
    font-size: 14px;
    text-align: center;

  }

  /*LAPS FRAME*/
  #laps {
    margin: 20px auto;
    max-width: 100vw;
    min-height: 20vh;
  }

  #laps ul li{
    font-size: 16px;
  }

  /*About Page*/
  .about {
    max-width: 100vw;
    margin: 10px auto;
    display: grid;
    grid-column: 1fr;
    gap: none;
    padding: 0 30px;
    line-height: normal;
  }

  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .img-container img {
    max-width: 50vw;
  }

  .about h1 {
    font-size: 35px;
    line-height: 28px;
    text-align: center;
  }

  .about h3 {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
  }

  .about p,
  .about ul li {
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
  }

  .about ul li {
    line-height: 20px;
  }

  /*Error*/
  .error {
    min-height: 70vh;
  }

  footer p {
    font-size: 14px;
  }

}




@media screen and (max-width:600px) {
  #container-main h1 {
    font-size: 35px;
  }

  #sw-container {
    min-height: 40vh;
  }

  .digit {
    font-size: 55px;
  }

  .txt {
    font-size: 16px;
  }

  /*Buttons*/
  #buttons {
    margin-top: 25px;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .btn {
    width: 50px;
    padding: 5px 8px;
    font-size: 12px;
  }

  /*LAPS FRAME*/
  #laps {
    margin: 20px auto;
  }

  #laps ul li{
    font-size: 14px;
  }

  .img-container img {
    max-width: 70vw;
  }

  .about {
    min-height: auto;
  }

  .about h1 {
    font-size: 20px;
  }

  .about h3 {
    font-size: 14px;
  }

  .about p {
    font-size: 12px;
  }

  footer p {
    font-size: 14px;
  }

}

@media screen and (max-width:480px) {
  #container-main h1 {
    font-size: 30px;
  }

  #sw-container {
    min-height: 40vh;
  }

  .digit {
    font-size: 45px;
  }

  .txt {
    font-size: 14px;
  }

  /*Buttons*/
  #buttons {
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
  }

  .btn {
    width: 50px;
    padding: 5px 8px;
    font-size: 10px;
  }

  /*LAPS FRAME*/
  #laps {
    margin: 20px auto;
  }

  #laps ul li{
    font-size: 13px;
  }

  .img-container img {
    max-width: 70vw;
  }

  .about h1 {
    font-size: 20px;
  }

  .about h3 {
    font-size: 14px;
  }

  .about p {
    font-size: 12px;
  }

  footer {
    max-height: 18vh;
    padding: 20px;
    margin-top: 0;
  }

  footer p {
    font-size: 11px;
  }

}


@media screen and (max-width:360px) {
  #container-main h1 {
    font-size: 28px;
  }
  .digit {
    font-size: 35px;
  }

  .txt {
    font-size: 10px;
  }

  /*Buttons*/
  #buttons {
    margin-top: 15px;
    gap: 0.75rem;
  }

  .btn {
    width: 45px;
    padding: 5px 8px;
    font-size: 9px;
    font-weight: 400;
  }

  /*LAPS FRAME*/
  #laps {
    margin: 20px auto;
  }

  .img-container img {
    max-width: 70vw;
  }

  .about h1 {
    font-size: 20px;
  }

  .about h3 {
    font-size: 14px;
  }

  .about p {
    font-size: 12px;
  }

  #laps ul li{
    font-size: 12px;
  }

  footer {
    max-height: 18vh;
    padding: 20px;
    margin-top: 0;
  }

  footer p {
    font-size: 11px;
  }

}