@import url(https://db.onlinewebfonts.com/c/84cb021d5f9af287ffff84b61beef6dc?family=clockicons);

body {
  padding: 0;
  margin: 0;
  font-family: verdana;
  background-color: black;
}

#container-main {
  min-height: 80vh;
}

#container-main h1 {
  color: yellow;
  text-align: center;
  font-weight: bold;
  text-shadow: 0px 0px 15px rgb(255, 0, 0);
  font-size: 50px;
}

.stopwatch-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#sw-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  align-items: center;
  position: fixed;
}

.digit {
  font-size: 95px;
  color: #FF9500;
  font-family: clockicons, sans-serif;
}

.txt {
  font-size: 30px;
  color: #fffcd6;
}


/*Buttons*/
#buttons {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.btn {
  width: 70px;
  padding: 8px 12px;
  border-radius: 4px 15px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.5s;
  color: white;
  font-weight: 600;
}

#start {
  background-color: #009779;
}

#stop {
  background-color: #0e85fc;
}

#reset {
  background-color: #c91400;
}

#lap {
  background-color: green;
}

/*LAPS FRAME*/
#laps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 30vw;
  margin-top: 2rem;
  min-width: 50vw;
  min-height: 60vh;
}

#laps h2 {
  color: white;
}

#laps ul li {
  color: yellow;
  list-style-type: number;
}

/*About Page*/
.about {
  max-width: '800px';
  margin: '20px auto';
  padding: '0 20px';
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.about h1,
.about h3 {
  font-weight: 800;
  padding-bottom: 20px;
  line-height: 45px;
  color: white;
}

.about p,
.about h3,
.about ul li {
  color: white;

}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/*Error Message*/
.error {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  min-height: 73vh;
  max-width: 50%;
}

.error h4 {
  color: rgba(255, 255, 255, 0.651);
}

.error p {
  color: rgba(255, 255, 255, 0.479);
}



@media screen and (max-width:1080px) {
  #container-main h1 {
    font-size: 45px;
  }

  .stopwatch-container {
    grid-template-columns: 1fr;
    max-width: 100vw;
    align-items: center;
    justify-content: center;
  }

  #sw-container {
    max-width: 100vw;
    position: relative;
  }

  .digit {
    font-size: 95px;
  }

  .txt {
    font-size: 30px;
  }

  /*Buttons*/
  #buttons {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .btn {
    width: 70px;
    padding: 8px 12px;
    font-size: 15px;
  }

  /*LAPS FRAME*/
  #laps {
    margin: 20px auto;
    max-width: 100vw;
    min-height: 20vh;
  }

  .img-container img {
    max-width: 50vw;
  }
  .about h1{
    font-size: 35px;
  }

  .about h3{
    font-size: 25px;
  }

  .about p{
    font-size: 16px;
  }

  /*Error*/
  .error {
    max-width: 70vw;
  }

}

@media screen and (max-width:1160px) {
  .stopwatch-container {
    grid-template-columns: 1fr 1fr;
  }
  
}

@media screen and (max-width:786px) {
  #container-main h1 {
    font-size: 45px;
  }

  .stopwatch-container {
    grid-template-columns: 1fr;
    max-width: 100vw;
    align-items: center;
    justify-content: center;
  }

  #sw-container {
    max-width: 100vw;
    position: relative;
  }

  .digit {
    font-size: 95px;
  }

  .txt {
    font-size: 30px;
  }

  /*Buttons*/
  #buttons {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .btn {
    width: 70px;
    padding: 8px 12px;
    font-size: 15px;
  }

  /*LAPS FRAME*/
  #laps {
    margin: 20px auto;
    max-width: 50vw;
    min-height: 20vh;
  }

  .img-container img {
    max-width: 50vw;
  }
  .about h1{
    font-size: 35px;
  }

  .about h3{
    font-size: 25px;
  }

  .about p{
    font-size: 16px;
  }

  /*Error*/
  .error {
    min-height: 70vh;
  }
}